@import url(webfont.css);

html, body{
	margin:0px;
	padding:0px;
	background:#000;
	color:#FFF;
	height:100%;
	text-shadow:1px 1px 0px #000;
}

body{
	/*this is for our vertical align CSS hack! inline-block puts whitespace between elements, which sux.*/
	text-align:left;
	font-size:0px;

	background-image:url('../img/space.jpg');
	background-size:80vh 80vh;
	background-position:right center;
}

@media screen and (max-width:600px){
	body{
		/*background-position:center center;*/
	}
}

body.shrinking{
	-webkit-transition:10s;
	-moz-transition:10s;
	-ms-transition:10s;
	-o-transition:10s;
	transition:10s;

	background-size:20px 20px;
}

/*The below media queries are an attempt to regulate performance on big screens. The more times the background image repeats, the worse performance becomes.*/
@media screen and (min-width:600px){
	body.shrinking{
		background-size:60px 60px;
	}
}

@media screen and (min-width:1000px){
	body.shrinking{
		background-size:80px 80px;
	}
}

/*part of the vertical-align CSS hack*/
body:before{
	display:inline-block;
	height:100%;
	content:'';
	vertical-align:middle;
}

/*reset the font size in here.*/
.content{
	display:inline-block;
	vertical-align:middle;
	font-size:16px;
	padding:20px 40px;
	width:50%;

	background:rgba(0,0,0,0.6);

	border-radius:3px;

	/*vertical alignment hack*/
	font-size:0px;

	max-width:550px;
}

@media screen and (max-width:600px){
	body:before{
		display:none;
	}

	.content{
		background:rgba(0,0,0,0.5);
		width:100%;
		max-width:99999px;
		padding:20px;
		border-radius:none;
		height:100%;

		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		-o-box-sizing:border-box;
		box-sizing:border-box;
	}
}

h1{
	text-align:left;
	font-family: "Karla", Helvetica, Arial, sans-serif;
	margin:0px;
	padding:0px;
	padding-bottom:40px;
	font-size:50px;
	letter-spacing:-1px;
	font-weight:bold;
	line-height:60px;
}

#cases{
	width:100%;
	font-family:'Menlo', monospace;
	font-size:16px;
	text-align:left;
	min-height:320px;
	float:left;
}

#cases p{
	margin:0px;
	margin-bottom:10px;
	line-height:20px;
	opacity:1;
}

#cases p.active{
	margin-bottom:0px;
}

#cases p.active:after{
	content:"";

	border-left:1px solid #FFF;

	-webkit-animation:cursorblink 0.8s infinite;
	-moz-animation:cursorblink 0.8s infinite;
	-ms-animation:cursorblink 0.8s infinite;
	-o-animation:cursorblink 0.8s infinite;
	animation:cursorblink 0.8s infinite;
}

@-webkit-keyframes cursorblink {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}
@-moz-keyframes cursorblink {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}
@-ms-keyframes cursorblink {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}
@-o-keyframes cursorblink {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}
@keyframes cursorblink {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}

#cases p.invisible{
	display:none;
	
	-webkit-transition:1s;
	-moz-transition:1s;
	-ms-transition:1s;
	-o-transition:1s;
	transition:1s;

	margin-bottom:0px;
	opacity:0;
}

#cases p.me{
	margin-top:40px;
	color:#CDCDCD;
}

#cases p.me a{
	color:#CDCDCD;
}

footer{
	text-align:left;
	font-family: "Karla", Helvetica, Arial, sans-serif;
	font-size:20px;
	padding:80px 0px;
	height:60px;
}

footer a{
	color:#FFF;
	text-decoration:none;
	border-bottom:1px solid #FFF;
	font-weight:bold;
}